{% if settings.indexBannerShow %}
    {% include 'indexBannerSections' %}
{% endif %}
{% if settings.homepage_page_show %}
    <section>
        {% let p = pages[settings.homepage_page.id] %}
        <div>
            {{ p.html }}
        </div>
    </section>
{% endif %}
{% if settings.homepage_blog_enabled %}
    {% unless blogs[settings.homepage_blog.id] == empty %}
        <section>
            <h2>{{ blogs[settings.homepage_blog.id].meta.h1 }}</h2>
            <div id="main-content" class="image-card-container">
            	{% for article in blogs[settings.homepage_blog.id].articles limit:6 %}
                    {% include 'image-card' %}
            	{% endfor %}
            </div>    
        </section>
    {% endunless %}
{% endif %}